@model SHOPSON.Areas.ADMIN.Models.HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOADON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYLAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYLAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGTIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAMAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAMAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHUONGTHUCTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHUONGTHUCTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THETICH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THETICH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TENKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.TENNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.TENNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THONGKE.NGAYLAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONGKE.NGAYLAP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
